// -------------------------------------------------
//
// Vars
// 
// -------------------------------------------------


$green: #5aff00;
$darkpink: #f1288e;
$lightpink: #ef94bd;


$background: $darkpink;
$midway: gray;
$text: $green;
$yellow: yellow;