// -------------------------------------------------
//
// Vars
// 
// -------------------------------------------------


$green: #5aff00;
$darkpink: #f1288e;
$lightpink: #ef94bd;
$gray: #ece9d8;


$background: $lightpink;
$midway: gray;
$text: $green;
$yellow: yellow;