// -------------------------------------------------
//
// In Body Ads
// 
// -------------------------------------------------

@include keyframes(button-flash){
	from {
		background: black;
	}
	to{
		background: white;
	}
}


.pop-ad{
	margin: 50px 0;
	cursor: pointer;
	box-shadow: 2px 2px 1px black;
}

.pop-ad.style1{
	display: block;
	width: 100%;
	height: 300px;
	border: 7px solid blue;
	// @include animation(border-flash 0.2s linear infinite);
	background: black;
	color: red;
	overflow: hidden;

	@include mq("large"){
		width: 150%;
		margin-left: -25%;
		height: 400px;
	}
	
	.pop-ad-text{
		width: 50%;
		float: right;
		padding: 10px;
		text-align: center;
		h2{
			font-size: 1em;
			margin-top: 10px;
			@include uppercase();
			@include transform(scaleY(1.8));
			margin-top: 50px;
			@include mq("large"){
				font-size: 3em;
			}
		}
		h4{
			@include animation(text-flash 0.4s linear infinite);
			@include uppercase();
			font-size: 1em;
			margin-top: 50px;
			@include mq("large"){
				font-size: 2em;
			}
		}
		button{
			margin-top: 25px;
			@include uppercase();
			color: black;
			border-radius: 3px;
			background: white;
			font-size: 0.75em;
			@include mq("large"){
				font-size: 1em;
				height: 40px;
				margin-top: 50px;
			}
		}
	}

	.pop-ad-image{
		float: left;
		width: 50%;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
}

.pop-ad.style2{
	display: block;
	width: 100%;
	height: 300px;
	// @include animation(border-flash 0.2s linear infinite);
	background: white;
	color: blue;
	border: 7px solid blue;
	overflow: hidden;
	float: none;
	@include mq("large"){
		float: left;
		margin: 50px 50px 50px -25%;
		width: 75%;
		height: 400px;
	}
	.pop-ad-text{
		width: 50%;
		float: right;
		padding: 10px;
		text-align: center;
		h2{
			font-size: 1.5em;
			margin-top: 10px;
			@include uppercase();
			@include transform(scaleY(1.3));
			margin-top: 50px;
			@include mq("large"){
				font-size: 2.5em;
			}
		}
		h4{
			@include animation(text-flash 0.4s linear infinite);
			@include uppercase();
			font-size: 0.8em;
			margin-top: 30px;
			@include mq("large"){
				font-size: 1.2em;
			}
		}
	}

	.pop-ad-image{
		float: left;
		width: 50%;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
}


.pop-ad.style3{
	display: block;
	width: 100%;
	// @include animation(border-flash 0.2s linear infinite);
	background: #e4d4c4;
	color: black;
	overflow: hidden;
	font-family: serif;
	border: 7px solid black;
	height: 300px;
	@include mq("large"){
		height: 400px;
		float: right;
		margin: 50px -25% 50px 50px;
	}
	.pop-ad-text{
		width: 50%;
		float: right;
		padding: 10px;
		text-align: center;
		h2{
			font-size: 1.5em;
			margin-top: 10px;
			@include uppercase();
			@include transform(scaleY(1.5));
			margin-top: 50px;
			@include mq("large"){
				font-size: 3em;
				@include transform(scaleY(1.8));
			}
		}
		h4{
			@include uppercase();
			font-size: 1em;
			margin-top: 20px;
			@include mq("large"){
				font-size: 2em;
				margin-top: 50px;
			}
		}
		button{
			margin-top: 25px;
			height: auto;
			height: 60px;
			border-radius: 5px;
			background: red;
			color: white;
			font-weight: bold;
			font-size: 0.75em;
			@include mq("large"){
				height: 40px;
			}
		}
	}

	.pop-ad-image{
		float: left;
		width: 50%;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
}


.pop-ad.style4{
	display: block;
	width: 100%;
	height: 300px;
	// @include animation(border-flash 0.2s linear infinite);
	@include background(linear-gradient(white, pink));
	color: red;
	overflow: hidden;
	font-family: serif;
	@include mq("large"){
		float: right;
		margin: 50px -25% 50px 50px;
		height: 300px;
	}
	.pop-ad-text{
		width: 50%;
		float: left;
		padding: 10px;
		text-align: center;
		h2{
			font-size: 2em;
			margin-top: 10px;
			@include uppercase();
			@include transform(sacleY(1.2));
			line-height: 0.75;
			@include mq("large"){
				font-size: 3em;
				@include transform(scaleY(1.8));
				line-height: 1;
				margin-top: 50px;
			}
		}
		h4{
			@include uppercase();
			font-size: 1em;
			margin-top: 20px;
			@include mq("large"){
				font-size: 2em;
				margin-top: 50px;
			}
		}


		button{
			margin-top: 10px;
			border-radius: 3px;
			height: auto;
			background: black;
			color: red;
			font-family: sans-serif;
			font-weight: bold;
			@include uppercase();
			@include animation(button-flash 0.3s linear infinite);
			@include mq("large"){
				margin-top: 25px;
			}
		}
	}

	.pop-ad-image{
		float: right;
		width: 50%;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
}