@include keyframes(text-flash){
	0%{
		color: $green;
	}

	25%{
		color: white;
	}

	50%{
		color: red;
	}

	75%{
		color: $darkpink;
	}
}




.body-container{
	width: 90%;
	margin: 50px 5%;
	color: black;
	@include mq("medium"){
		width: 70%;
		margin: 50px 15%;
	}
	@include mq("large"){
		width: 60%;
		margin: 50px 20%;
	}
	@include mq("widescreen"){
		width: 50%;
		margin: 50px 25%;
	}

	.intro{
		font-size: 1.75em;
		font-family: 'maison';
		color: $green;
		text-shadow: 2px 2px 1px $darkpink;
	}


	font-family: 'maison';
}

