// -------------------------------------------------
//
// Popups
// 
// -------------------------------------------------
.popup-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
	&.active{
		display: block;
	}

}
.popup-message{
	position: absolute;
	top: 191px;
	left: 641px;
	height: 300px;
	width: 500px;
	z-index: 99999;
	box-shadow: 2px 2px 5px black;
	padding: 3px 2px 2px 3px;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	background: $gray;
	cursor: move;
	position: fixed;
	pointer-events: auto;
	overflow: hidden;

	.exit{
		position: absolute;
		top: 3px;
		right: 2px;
		width: 30px;
		height: 30px;
		@include background(url(../images/close-white.svg), linear-gradient(red, #ba0000));
		cursor: pointer;
	}

	.popup-col{
		width: 50%;
		float: left;
		background: black;
		height: 93%;
		background: url(../images/18.jpg) no-repeat left top;
		background-repeat: no-repeat !important;
		background-position: left top !important;
		overflow: hidden;
	}


	&:before{
		content: attr(data-title);
		color: white;
		display: block;
		background: blue;
		width: auto;
		height: 30px;
		line-height: 30px;
		padding-left: 5px;
		text-shadow: 1px 1px 1px black;
	}
	
	.message{
		color: black;
		width: 50%;
		height: 100%;
		position: relative;
		color: red;
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(flex-start);
		margin-top: 20px;
		font-size: 1.5em;
	}

}