// -------------------------------------------------
//
// Popups
// 
// -------------------------------------------------
.popup-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
	font-family: Arial;
	&.active{
		display: block;
	}

}
.popup-message{
	position: absolute;
	top: 191px;
	left: 641px;
	height: 300px;
	width: 500px;
	z-index: 99999;
	box-shadow: 2px 2px 5px black;
	padding: 3px 2px 2px 3px;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	background: $gray;
	cursor: move;
	position: fixed;
	pointer-events: auto;
	overflow: hidden;

	.exit{
		position: absolute;
		top: 5px;
		right: 5px;
		width: 26px;
		height: 26px;
		background: url(../images/fat-exit.svg) no-repeat center center;
		background-repeat: no-repeat;
		background-position: center 3px;
		background-size: 80%, contain;
		background-color: red;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid white;
		//box-shadow: 1px 1px 1px black;
	}

	.popup-col{
		width: 50%;
		float: left;
		background: black;
		height: 93%;
		background-repeat: no-repeat !important;
		background-position: left top !important;
		background-size: cover !important;
		overflow: hidden;
	}


	&:before{
		content: attr(data-title);
		color: white;
		display: block;
		@include background(linear-gradient(blue, #677cff));
		width: auto;
		height: 30px;
		line-height: 30px;
		padding-left: 5px;
		text-shadow: 1px 1px 1px black;
		box-shadow: 1px 1px 2px black;
	}
	
	.message{
		color: black;
		width: 50%;
		height: 100%;
		position: relative;
		font-family: serif;
		float: right;
		margin-top: 50px;
		font-size: 0.6em;
		padding: 0 10px;
		font-family: 'px', serif;
		@include user-select(none);
	}

	.button-container{
		position: absolute;
		bottom: 10px;
		width: 50%;
		left: 50%;
		text-align: center;
		button{
			margin: 0 10px;
			width: 60px;
			font-family: 'px';
			color: black;
			font-size: 0.5em;
			border-radius: 2px;
			border: 1px solid blue;
			box-shadow: 0 0 1px black;
			background: $gray;
		}
	}

}