.warning{
	z-index: 999;
	position: fixed;
	top: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	background: black;
	border-radius: 10px;
	padding: 20px;
	pointer-events: auto;
	@include transition(opacity 0.4s linear);
	box-shadow: 5px 5px 5px black;
	opacity: 0.95;
	&.gone{
		opacity: 0;
		pointer-events: none;
		z-index: 1;
	}
	.eighteen{
		width: 25%;
		height: 50%;
		float: left;
		border: 3px solid gray;
		color: white;
		font-size: 1em;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include mq("medium"){
			font-size: 2.5em;
		}
		@include mq("large"){
			font-size: 4em;
		}
		h1{
			font-style: normal;
			font-family: Arial;
			@include transform(scaleY(1.8));
			font-weight: bold;
		}

	}
	.adults-only{
		width: 73%;
		float: right;
		height: 22%;
		border: 3px solid gray;
		color: red;
		font-family: Arial;
		
		@include uppercase();
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include mq("medium"){
			font-size: 1.5em;
		}
		@include mq("large"){
			font-size: 2em;
		}
		h2{
			@include transform(scaleY(1.8));
			padding: 10px;
		}

	}

	.eighteen-message{
		float: right;
		width: 73%;
		height: 26%;
		border: 3px solid gray;
		margin-top: 3%;
		@include uppercase();
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		color: white;
		@include mq("large"){
			height: 22%;
		}
		h3{
			font-weight: normal;
			font-size: 0.9em;
			padding: 10px;
			vertical-align: top;
			@include mq("medium"){
				font-size: 2em;
			}
			@include mq("large"){
				font-size: 2.5em;
				@include transform(scaleY(1.5));
			}
		}

	}

	.final-message{
		width: 100%;
		border: 3px solid gray;
		margin-top: 3%;
		padding: 20px 10px;
		height: auto;
		text-align: center;
		color: red;
		@include uppercase();
		font-size: 0.5em;
		@include mq("medium"){
			font-size: 0.8em;
		}
		@include mq("large"){
			font-size: 1em;
			padding: 50px 10px;
			h2{
				@include transform(scaleY(1.8));
			}
		}
	}

	.continue{
		margin-top: 5%;
		@include mq("large"){
			margin-top: 3%;
		}
		a{
			text-decoration: none;
		}
		button{
			cursor: pointer;
			width: 99%;
			display: block;
			border-radius: 0;
			border: 3px solid gray;
			background: black;
			color: white;
			margin: 10px 0px;
			height: auto;
			padding: 10px;
			@include uppercase();
			font-weight: bold;
			font-size: 1em;
			@include mq("medium"){
				font-size: 1.25em;
			}
			@include mq("large"){
				font-size: 1.5em;
				width: 50%;
				margin-left: 25%;
			}
		}
	}

}