doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Porn Soundtracks
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(rel="stylesheet", href="css/main.css")

	body
		nav.main-nav#nav
			a.logo(href="http://daily.redbullmusicacademy.com")
			a.text(href="http://daily.redbullmusicacademy.com") Red Bull Music Academy

			.social
				a.share-icon.facebook(data-site="facebook")
				a.share-icon.twitter(data-site="twitter")

		.title-canvas#title
			.video-overlay
				.hot
				.stereo
			video#video(loop, autoplay)
				source(src="images/cut.mp4", type="video/mp4")
			img(src="images/ST.png")
			h2 An intro to erotic film music
		.body-container
			.burst


		script(src="js/bundle.js")